* {
    box-sizing: border-box;
}
#game {
    text-align: center;
    height: 40rem;
    margin: auto;
    margin-top: 5rem;
    border: solid 2px black;
    padding: 2rem;
}

button {
    margin: 5px;
}